<button type="button" class="button button--full-height" id="add-fabled" data-dialog="#fabled-list" disabled>{{ 'grimoire.grimoire.add_fabled'|trans }}</button>

{% embed 'includes/dialog.html.twig' with {
    id: 'fabled-list',
    background: 'blur',
    title: 'grimoire.fabled_list.title'|trans
} %}
    {% import 'macros/forms.html.twig' as forms %}
    {% block body %}
        <ul id="fabled-list__list" class="button-list button-list--reminder"></ul>
    {% endblock %}
{% endembed %}
