*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-size: 1rem;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background-color: #fff;
    color: #000;
}

img {
    display: block;
    max-width: 100%;
}
