@font-face {
    font-family: "Vinque";
    src:
        url("../../fonts/Vinque.woff2") format("woff2"),
        url("../../fonts/Vinque.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
