@font-face {
    font-family: "Metamorphous";
    src:
        url("../../fonts/Metamorphous.woff2") format("woff2"),
        url("../../fonts/Metamorphous.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
