:root {
    // Fonts
    --serif-font: Metamorphous, "Times New Roman", Times, serif;
    --sans-font: Helvetica, Arial, sans-serif;
    // Colours
    --blue: #679fd0;
    --orange: #d09f67;
    --brown: #9f9f30;
    --red: #d06767;
    --cyan: #67d0d0;
    --dark-orange: #a16930;
    --green: #679f67;
    --dark-purple: #9f679f;
    --lime: #9fd067;
    --yellow: #d0d067;
    --dark-yellow: #9f9f67;
    --purple: #d067d0;
}
