<div class="community no-print">
    <a href="https://bloodontheclocktower.com/pages/community-created-content-policy" target="_blank" class="community__link">
        <img src="/build/img/community-created.webp" alt="{{ 'community.created_content'|trans }}" width="300" height="113" class="community__badge">
    </a>
    <div class="community__text">
        <small>{{ 'community.icon_permission'|trans }}</small>
    </div>
</div>
