{% set infoTokens = {
    isdemon: 'This is the <strong>Demon</strong>',
    isminion: 'There are your <strong>Minions</strong>',
    inplay: 'These characters are <strong>in play</strong>',
    notinplay: 'These characters are <strong>not in play</strong>',
    nominatetoday: 'Did you <strong>nominate</strong> today?',
    abilitytargetted: 'This <strong>ability</strong> targetted you',
    playeris: 'This <strong>player</strong> is',
    haveability: 'You have this <strong>ability</strong>',
    votetoday: 'Did you <strong>vote</strong> today',
    choice: 'Your <strong>choice</strong>?',
    abilitynow: 'Use your <strong>ability</strong> now?',
    youare: '<strong>You</strong> are'
} %}

{% embed '../includes/details.twig' with {
    summary: 'Info Tokens',
    id: 'info-tokens'
} %}
    {% block body %}
    <ul class="button-list">
        {% for id, markup in infoTokens %}
        <li>
            <button type="button" class="button" data-dialog="#info-token-{{ id }}">{{ markup|striptags }}</button>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
{% endembed %}

{% for id, markup in infoTokens %}
    {% embed '../includes/dialog.twig' with {
        id: 'info-token-' ~ id,
        class: 'info-token',
        background: 'hide',
        hideClick: true,
        includeHeader: false
    } %}
        {% block body %}
        <p class="info-token__text">{{ markup|raw }}</p>
        {% endblock %}
    {% endembed %}
{% endfor %}
