{% set infoTokens = [
    {
        id: 'isdemon',
        colour: 'brown',
        markup: 'info_tokens.info_tokens.isdemon'|trans
    },
    {
        id: 'isminion',
        colour: 'red',
        markup: 'info_tokens.info_tokens.isminion'|trans
    },
    {
        id: 'inplay',
        colour: 'cyan',
        markup: 'info_tokens.info_tokens.inplay'|trans
    },
    {
        id: 'notinplay',
        colour: 'blue',
        markup: 'info_tokens.info_tokens.notinplay'|trans
    },
    {
        id: 'nominatetoday',
        colour: 'dark-orange',
        markup: 'info_tokens.info_tokens.nominatetoday'|trans
    },
    {
        id: 'abilitytargetted',
        colour: 'green',
        markup: 'info_tokens.info_tokens.abilitytargetted'|trans
    },
    {
        id: 'playeris',
        colour: 'dark-purple',
        markup: 'info_tokens.info_tokens.playeris'|trans
    },
    {
        id: 'haveability',
        colour: 'lime',
        markup: 'info_tokens.info_tokens.haveability'|trans
    },
    {
        id: 'votetoday',
        colour: 'orange',
        markup: 'info_tokens.info_tokens.votetoday'|trans
    },
    {
        id: 'choice',
        colour: 'yellow',
        markup: 'info_tokens.info_tokens.choice'|trans
    },
    {
        id: 'abilitynow',
        colour: 'dark-yellow',
        markup: 'info_tokens.info_tokens.abilitynow'|trans
    },
    {
        id: 'youare',
        colour: 'purple',
        markup: 'info_tokens.info_tokens.youare'|trans
     }
] %}

{% embed 'includes/details.html.twig' with {
    summary: 'info_tokens.title'|trans,
    id: 'info-tokens'
} %}
    {% block body %}
    <ul class="button-list" id="info-token-button-holder" data-info-tokens='{{ infoTokens|json_encode() }}'></ul>
    <h3 class="info-token-heading">Custom tokens</h3>
    <ul class="button-list" id="info-token-custom-holder">
        <li>
            <button type="button" class="button button--full-height" id="add-info-token">Add info token</button>
        </li>
    </ul>
    {% endblock %}
{% endembed %}

<div id="info-token-dialog-holder"></div>

<template id="info-token-button-template">
    <li>
        <button type="button" class="button button--full-height js--info-token--button"></button>
    </li>
</template>

<template id="info-token-dialog-template">
    {% embed 'includes/dialog.html.twig' with {
        id: 'info-token-',
        class: 'info-token js--info-token--dialog',
        background: 'hide',
        hideClickBackground: false,
        includeHeader: false
    } %}
        {% block body %}
        <button class="info-token__hide" type="button" aria-label="{{ 'dialog.close'|trans }}" data-dialog-hide>&times;</button>
        <p class="info-token__text js--info-token--dialog-text"></p>
        {% endblock %}
    {% endembed %}
</template>
