{% embed '../includes/details.twig' with {
    summary: 'Jinxes',
    id: 'jinxes'
} %}
    {% block body %}
    <table class="jinxes">
        <thead class="sr-only">
            <tr>
                <th scope="col">Target</th>
                <th scope="col">Trick</th>
                <th scope="col">Reason</th>
            </tr>
        </thead>
        <tbody id="jinx-table"></tbody>
    </table>

    <p class="switch mt-4">
        <span class="switch__input">
            {{ forms.toggle({
                name: "show-all-jinxes",
                id: "show-all-jinxes"
            }) }}
        </span>
        <label for="show-all-jinxes" class="switch__label">Show jinxes not in play</label>
    </p>
    {% endblock %}
{% endembed %}

<template id="jinx-table-template">
    <tr class="jinxes__jinx js--jinx-table--jinx">
        <td class="jinxes__cell">
            <img class="jinxes__icon js--jinx-table--target">
            <span class="jinxes__name js--jinx-table--target-name" aria-hidden="true"></span>
        </td>
        <td class="jinxes__cell">
            <img class="jinxes__icon js--jinx-table--trick">
            <span class="jinxes__name js--jinx-table--trick-name" aria-hidden="true"></span>
        </td>
        <td class="jinxes__cell jinxes__cell--text js--jinx-table--reason"></td>
    </tr>
</template>
