<div hidden>
    <div id="empty-character-ability">This is an empty character.</div>
    <div id="version-change-message">This app has updated its version. Because your data may not be correct, we recommend that you clear everything in the "Clear Cache" dialog. Press "OK" to open the dialog or "Cancel" to close this message.</div>
    <div id="invalid-script">The script format has not been recognised.</div>
    <div id="no-characters">The script doesn't contain any recognised characters.</div>
</div>
