{% embed '../includes/details.twig' with {
    open: true,
    summary: 'Setup'
} %}
    {% block body %}
    <ul>
        <li><button type="button" id="select-edition" data-dialog="#edition-list">Select Edition</button></li>
        <li><button type="button" id="select-characters" data-dialog="#character-select" disabled>Select Characters</button></li>
        {# Show a QR code for the characters in this game: #}
        <li><button type="button" id="qr-code" disabled>QR Code</button></li>
        {# Clear the localStorage (and refresh the page) to get more up-to-date data: #}
        <li><button type="button" id="reset" disabled>Clear saved data</button></li>
    </ul>
    {% endblock %}
{% endembed %}

{% embed '../includes/dialog.twig' with {
    id: 'edition-list',
    background: 'blur',
    title: 'Select Edition'
} %}
    {% block body %}
    <ul>
        <li><button type="button" data-edition="tb">Trouble Brewing</button></li>
        <li><button type="button" data-edition="bmr">Bad Moon Rising</button></li>
        <li><button type="button" data-edition="snv">Sects and Violets</button></li>
        <li><button type="button" data-edition="custom" disabled>Custom Script</button></li>
    </ul>
    {% endblock %}
{% endembed %}

{% embed '../includes/dialog.twig' with {
    id: 'character-select',
    background: 'blur',
    title: 'Select Characters'
} %}
    {% block body %}
    <form>

        <div class="character-select__players">
            <label for="player-count">Number of players</label>
            <input type="range" min="5" max="20" step="1" value="7" name="player-count" id="player-count">
            <output id="player-count-output">7</output>
        </div>

        <fieldset class="character-select__group" data-team="townsfolk">
            <legend class="character-select__title">Townsfolk</legend>
            <div class="character-select__score">
                {# This should be sticky so it's always visible #}
                <div class="character-select__score-box">
                    <span class="js--character-select--count">0</span> / <span class="js--character-select--total"></span>
                </div>
            </div>
            {# This should allow a couple of tokens to appear next to each other #}
            <div class="character-select__characters js--character-select--list"></div>
        </fieldset>
        <fieldset class="character-select__group" data-team="outsider">
            <legend class="character-select__title">Outsiders</legend>
            <div class="character-select__score">
                <div class="character-select__score-box">
                    <span class="js--character-select--count">0</span> / <span class="js--character-select--total"></span>
                </div>
            </div>
            <div class="character-select__characters js--character-select--list"></div>
        </fieldset>
        <fieldset class="character-select__group" data-team="minion">
            <legend class="character-select__title">Minions</legend>
            <div class="character-select__score">
                <div class="character-select__score-box">
                    <span class="js--character-select--count">0</span> / <span class="js--character-select--total"></span>
                </div>
            </div>
            <div class="character-select__characters js--character-select--list"></div>
        </fieldset>
        <fieldset class="character-select__group" data-team="demon">
            <legend class="character-select__title">Demons</legend>
            <div class="character-select__score">
                <div class="character-select__score-box">
                    <span class="js--character-select--count">0</span> / <span class="js--character-select--total"></span>
                </div>
            </div>
            <div class="character-select__characters js--character-select--list"></div>
        </fieldset>

        {# This should take show the "player token select" dialog #}
        <button type="submit" id="player-select" disabled>Select</button>

    </form>
    {% endblock %}
{% endembed %}

<template id="character-select-template">
    <label class="character-select__character js--character-select--label" for="">
        <input type="checkbox" name="character" value="" class="character-select__input js--character-select--input">
        <img src="" alt="" aria-hidden="true" class="character-select__image js--character-select--image">
        <span class="character-select__name js--character-select--name"></span>
    </label>
</template>
