{% embed '../includes/details.twig' with {
    open: true,
    summary: 'Setup'
} %}
    {% block body %}
    <ul class="button-list">
        <li><button type="button" class="button" id="select-edition" data-dialog="#edition-list">Select Edition</button></li>
        <li><button type="button" class="button" id="select-characters" data-dialog="#character-select" disabled>Select Characters</button></li>
        <li><button type="button" class="button" id="qr-code-button" data-dialog="#qr-code-dialog" disabled>Character Sheet</button></li>
        <li><button type="button" class="button button--warning" id="clear-cache" data-reset="This will clear the cache and the grimoire. Would you like to continue?" disabled>Clear Cache</button></li>
    </ul>
    {% endblock %}
{% endembed %}

{% embed '../includes/dialog.twig' with {
    id: 'edition-list',
    background: 'blur',
    title: 'Select Edition'
} %}
    {% block body %}

    <form id="select-edition-form">

        <ul>
            <li>
                <label for="edition-tb">
                    <input type="radio" name="edition" value="tb" id="edition-tb" required>
                    Trouble Brewing
                </label>
            </li>
            <li>
                <label for="edition-bmr">
                    <input type="radio" name="edition" value="bmr" id="edition-bmr">
                    Bad Moon Rising
                </label>
            </li>
            <li>
                <label for="edition-snv">
                    <input type="radio" name="edition" value="snv" id="edition-snv">
                    Sects and Violets
                </label>
            </li>
            <li>
                <label for="edition-custom">
                    <input type="radio" name="edition" value="custom" id="edition-custom">
                    Custom Script
                </label>
            </li>
        </ul>

        <p id="custom-script-upload" hidden>
            <label for="custom-script" class="sr-only">Upload a custom script</label>
            {{ forms.file({
                name: "custom-script",
                id: "custom-script",
                accept: "application/json",
                attributes: {
                    "data-invalid-script": "The script format has not been recognised"
                }
            }) }}
        </p>

        <p><button type="submit" class="button">Select</button></p>

    </form>

    {#
    <ul class="button-list">
        <li><button type="button" class="button" data-edition="tb">Trouble Brewing</button></li>
        <li><button type="button" class="button" data-edition="bmr">Bad Moon Rising</button></li>
        <li><button type="button" class="button" data-edition="snv">Sects and Violets</button></li>
        <!-- <li><button type="button" class="button" data-edition="custom" disabled>Custom Script</button></li> -->
    </ul>
    <h3>... or ...</h3>
    <form id="custom-script-form">
        <p>
            <label for="custom-script">Upload a custom script</label>
            <input type="file" name="custom-script" id="custom-script" accept="application/json" data-invalid-script="The script format has not been recognised" required>
        </p>
        <p><button type="submit" class="button">Select</button></p>
    </form>
    #}
    {% endblock %}
{% endembed %}

{% embed '../includes/dialog.twig' with {
    id: 'character-select',
    background: 'blur',
    title: 'Select Characters'
} %}
    {% block body %}
    <form id="player-select">

        <div class="character-select__players">
            <label for="player-count" class="character-select__label">Number of players</label>
            {# TODO: travellers, so that the max can go up to 20 again #}
            <input type="range" min="5" max="15" step="1" value="7" name="player-count" id="player-count" class="character-select__range">
            <output id="player-count-output" class="character-select__output">7</output>
        </div>

        <p><button type="button" class="button" id="player-select-random">Highlight random</button></p>

        {% set teams = {
            townsfolk: 'Townsfolk',
            outsider: 'Outsiders',
            minion: 'Minions',
            demon: 'Demons'
        } %}
        {% for team, name in teams %}
        <fieldset class="sidebar character-select__group" data-team="{{ team }}">
            <legend class="sr-only">{{ name }}</legend>
            <div class="sidebar__side character-select__score">
                <div class="sidebar__side-content character-select__heading">
                    <div class="character-select__title" aria-hidden="true">{{ name }}</div>
                    <div class="character-select__score-box">
                        <span class="js--character-select--count">0</span>-<span class="js--character-select--total"></span>
                    </div>
                </div>
            </div>
            <div class="sidebar__body character-select__characters js--character-select--list"></div>
        </fieldset>
        {% endfor %}

        <button type="submit" class="button">Draw Characters</button>

    </form>
    {% endblock %}
{% endembed %}

{% embed '../includes/dialog.twig' with {
    id: 'character-choice',
    background: 'hide',
    title: 'Select Your Character',
    hideClickBackground: false
} %}
    {% block body %}
    <p>Tap one of the lit tokens to choose your character. Darker ones have already been chosen.</p>
    <div id="character-choice-wrapper" class="slot slot--3">
    </div>
    {% endblock %}
{% endembed %}

<template id="character-choice-template">
    <div>
        <button type="button" data-id="" class="character-choice">
            <span class="character">
                <span class="character__unknown js--character-choice--number"></span>
            </span>
        </button>
    </div>
</template>

{% embed '../includes/dialog.twig' with {
    id: 'character-decision',
    background: 'hide',
    title: 'Remember Your Character'
} %}
    {% block body %}
    <div id="character-decision-wrapper">
    </div>
    <p><button type="button" class="button" data-dialog-hide>OK</button></p>
    {% endblock %}
{% endembed %}

<template id="character-select-template">
    <label class="character-select__character js--character-select--label" for="">
        <input type="checkbox" name="character" value="" class="sr-only character-select__input js--character-select--input">
        <img src="" alt="" aria-hidden="true" class="character-select__part character-select__part--image js--character-select--image" loading="lazy">
        <span class="character-select__part character-select__part--name js--character-select--name"></span>
        <span class="character-select__part character-select__part--ability js--character-select--ability"></span>
    </label>
</template>

{% embed '../includes/dialog.twig' with {
    id: 'qr-code-dialog',
    background: 'hide',
    title: 'Character sheet'
} %}
    {% block body %}
        <p>Scan this QR code to see the character sheet.</p>
        <a href="" target="_blank" rel="noopener noreferrer" id="qr-code-link">
            <span id="qr-code"></span>
        </a>
    {% endblock %}
{% endembed %}
