{% extends "../base.twig" %}

{% block title %}Game{% endblock %}
{% set meta_description = 'A virtual grimoire for Blood on the Clocktower' %}

{% block styles %}
<link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% set body_class = 'body-grimoire' %}

{% block body %}

<h1 class="title">Pocket Grimoire</h1>

{% include '../partials/messages.twig' %}
{% include '../partials/setup.twig' %}
{% include '../partials/grimoire.twig' %}
{% include '../partials/jinxes.twig' %}
{% include '../partials/night-order.twig' %}
{% include '../partials/info-tokens.twig' %}
{% include '../partials/acknowledgements.twig' %}

{% endblock %}

{% block javascript %}
<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
