{% extends "../base.twig" %}

{% block title %}Character Sheet{% endblock %}
{% set meta_description = 'The character sheet for this edition of Blood on the Clocktower' %}

{% block styles %}
<link rel="stylesheet" href="{{ asset('css/sheet.css') }}">
{% endblock %}

{% set body_class = 'body-sheet' %}

{% block body %}

<header>
    <h1 id="title" class="title"></h1>
</header>

{% for type, text in {
    townsfolk: 'Townsfolk',
    outsider: 'Outsiders',
    minion: 'Minions',
    demon: 'Demons',
    traveller: 'Travellers',
    fabled: 'Fabled'
} %}
    {% embed '../includes/details.twig' with {
        open: type != 'traveller',
        id: 'wrapper-' ~ type,
        class: 'edition is-empty'
    } %}
        {% block summary %}
        <span class="edition__heading-text">{{ text }}</span>
        {% endblock %}
        {% block body %}
        <div id="team-{{ type }}" class="edition__team"></div>
        {% endblock %}
    {% endembed %}
{% endfor %}

<template id="edition-template">
    <div class="edition__role">
        <p class="edition__name js--edition--name"></p>
        <div class="edition__icon">
            <img src="" alt="" class="edition__image js--edition--image" width="177" height="124" aria-hidden="true">
        </div>
        <div class="edition__ability js--edition--ability"></div>
        <div class="edition__jinxes js--edition--jinxes"></div>
    </div>
</template>

<template id="edition-template-jinx">
    <div class="edition__jinx">
        <img src="" alt="Jinx: " title="" class="js--edition-jinx--image" width="177" height="124">
    </div>
</template>

<footer>
    <p><small>* Each night except the first night.</small></p>
    <p><button type="button" class="button" data-dialog="#qr-code-dialog">Get the QR code for this sheet</button></p>
    <p><small><a href="https://bloodontheclocktower.com/" target="_blank" rel="noopener noreferrer">Blood on the Clocktower</a> is a trademark of Steven Medway and <a href="https://www.thepandemoniuminstitute.com/" target="_blank" rel="noopener noreferrer">The Pandemonium Institute</a>.</small></p>
</footer>

{% embed '../includes/dialog.twig' with {
    id: 'qr-code-dialog',
    background: 'blur',
    title: 'Get this sheet'
} %}
    {% block body %}
        <div id="qr-code" class="qr"></div>
    {% endblock %}
{% endembed %}

{% endblock %}

{% block javascript %}
<script src="{{ asset('js/sheet.js') }}"></script>
{% endblock %}
