.character,
.reminder {
    border-radius: 50%;
    display: grid;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.character {
    --no-leaf: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    --top-leaf: var(--no-leaf);
    --left-leaf: var(--no-leaf);
    --right-leaf: var(--no-leaf);
    --setup-leaf: var(--no-leaf);

    background-color: #fffef0;
    background-image:
        var(--left-leaf),
        var(--top-leaf),
        var(--right-leaf),
        var(--setup-leaf),
        url("../img/token/clockface-2.png"),
        url("../img/token/character-token-noise.png");
    background-position: 50% 50%;
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        repeat;
    background-size:
        contain,
        contain,
        contain,
        contain,
        60%,
        auto;
    box-shadow:
        inset 0.1em 0.1em 0.2em rgb(255 255 255 / 0.2),
        inset 0 0 0.7em #8a4d0f,
        0.1em 0.1em 0.2em rgb(0 0 0 / 0.8);
}

.character--top-1 { --top-leaf: url("../img/token/top-1.png"); }
.character--top-2 { --top-leaf: url("../img/token/top-2.png"); }
.character--top-3 { --top-leaf: url("../img/token/top-3.png"); }
.character--top-4 { --top-leaf: url("../img/token/top-4.png"); }
.character--top-5 { --top-leaf: url("../img/token/top-5.png"); }
.character--top-6 { --top-leaf: url("../img/token/top-6.png"); }
.character--left-1 { --left-leaf: url("../img/token/left-1.png"); }
.character--right-1 { --right-leaf: url("../img/token/right-1.png"); }
.character--right-2 { --right-leaf: url("../img/token/right-2.png"); }
.character--setup { --setup-leaf: url("../img/token/setup.png"); }

.character[data-first-night]::before,
.character[data-other-night]::after {
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    width: 20%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.5em, 3.5vw - 0.5em, 2em);
    line-height: 1;
    grid-area: 1 / -1;
    margin-top: 5%;
}

.character[data-first-night]::before {
    content: attr(data-first-night);
    background-image: linear-gradient(to bottom, #006, #00c);
    margin-left: 5%;
    margin-right: auto;
}

.character[data-other-night]::after {
    content: attr(data-other-night);
    background-image: linear-gradient(to bottom, #600, #c00);
    margin-left: auto;
    margin-right: 5%;
}

.reminder {
    background-color: #101128;
    box-shadow:
        inset 0.1em 0.1em 0.2em rgb(255 255 255 / 0.1),
        inset 0 0 1em #111324,
        inset 0 0 0.5em #111324,
        0.1em 0.1em 0.2em rgb(0 0 0 / 0.8);
}

.character__image,
.character__text,
.character__shroud,
.reminder__image,
.reminder__text {
    grid-area: 1 / -1;
    z-index: 1;
}

.character__image,
.reminder__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.character__shroud {
    z-index: 2;
    background-image: url("../img/token/shroud.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto 75%;
    filter: drop-shadow(0.1em 0.1em 0.2em rgba(0 0 0 / 0.8));
    display: none;

    @at-root {
        .is-dead > #{&} {
            display: block;
        }
    }
}

.character__icon {
    width: 90%;
}

.character__name {
    font-family: Metamorphous, "Times New Roman", Times, serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-shadow:
        0 0 0.15em #fffef0,
        0 0 0.2em #fffef0,
        0 0 0.25em #fffef0;
}

.character__unknown {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;

    @at-root {
        [disabled] #{&} {
            display: none;
        }
    }
}

.reminder__text {
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-shadow:
        0 0 0.15em #111324,
        0 0 0.2em #111324;
}

.reminder__icon {
    width: 70%;
}
