.character-select__players {
    display: grid;
    grid-template-columns: 1fr 1.5em;
    grid-template-rows: min-content 1fr;
    gap: 0.5em 1em;
    grid-template-areas:
        "label label"
        "range output";
    margin-bottom: 1em;
}

.character-select__label {
    grid-area: label;
}

.character-select__range {
    grid-area: range;
}

.character-select__output {
    grid-area: output;
    text-align: right;
}

.character-select__fieldset {
    border: none;
    padding: 0;
}

.character-select__title,
.character-select__score-box {
    display: inline-block;
}

.character-select__score-box {
    margin-top: 1em;
}

.character-select__characters {
    @extend %slot;
    --columns: 2;

    @media (min-width: 650px) {
        --columns: 3;
    }
}

.character-select__part {
    opacity: 0.6;

    @at-root {
        :checked ~ #{&} {
            opacity: 1;
        }
    }
}

.character-select__part--name {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

.character-select__part--ability {
    display: block;
    font-size: 0.75em;

    @at-root {
        .is-hide-abilities #{&} {
            display: none;
        }
    }
}

:checked ~ .character-select__part--name.is-setup {
    position: relative;

    &::before {
        content: "!";
        font-weight: bold;
        width: 1em;
        height: 1em;
        position: absolute;
        left: 0;
        top: -1.25em;
        border-radius: 50%;
        background-color: red;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25em;
        line-height: 1;
    }
}

:checked ~ .character-select__part--image {
    background-image: radial-gradient(rgb(255 255 255 / 60%), transparent 50%);
    filter: drop-shadow(0 0 0.1em white);
}

.character-select__count {
    width: 100%;
    text-align: center;

    @at-root {
        .is-hide-duplicates #{&} {
            display: none;
        }
    }
}
