@keyframes edition-reveal {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.edition.is-empty {
    display: none;
}

@media (min-width: 1024px) {
    .edition__team {
        display: flex;
        flex-flow: row wrap;
        gap: 0 1em;
    }
}

.edition__role {
    display: grid;
    grid-template-columns: max(25%, 5em) 1fr;
    grid-template-rows: min-content 1fr;
    gap: 0 1em;
    grid-template-areas:
        "token name"
        "token ability"
        "jinxes ability";
    padding: 0.5em;
    width: 100%;

    @media (prefers-reduced-motion: no-preference) {
        animation-name: edition-reveal;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

    @at-root {

        #{&} + #{&} {
            border-top: 1px solid rgb(0 0 0 / 20%);
        }

        @media (min-width: 1024px) {
            #{&}:nth-child(2) {
                border-top: none;
            }
        }
    }

    @media (min-width: 550px) {
        grid-template-areas:
            "token name ability"
            "token jinxes ability";
        grid-template-columns: 4em 7.5em 1fr;
        grid-template-rows: 1fr min-content;
        gap: 0 0.5em;
    }

    @media (min-width: 1024px) {
        width: calc((100% / 2) - (1em * (1 / 2)));
    }
}

.edition__role--jinx {
    grid-template-areas:
        "target ability"
        "trick ability";
    grid-template-columns: 5em 1fr;
    gap: 0.5em 1em;

    @media (min-width: 550px) {
        grid-template-areas:
            "target trick ability";
        grid-template-columns: 4em 4em 1fr;
        grid-template-rows: 1fr min-content;
    }
}

.edition__icon,
.edition__name,
.edition__ability {
    display: flex;
    align-items: center;
}

.edition__icon {
    grid-area: token;
}

.edition__icon--target {
    grid-area: target;
}

.edition__icon--trick {
    grid-area: trick;
}

.edition__image {
    aspect-ratio: auto 177 / 124;
    object-fit: contain;
}

.edition__ability {
    grid-area: ability;
}

.edition__jinxes {
    grid-area: jinxes;
    display: flex;
    flex-flow: row wrap;
    gap: 0.25em;
    margin-top: 0.25em;

    // This seems to be the best way of lining up the name again.
    &:empty {
        height: 0;
        margin-top: 0;
    }
}

.edition__jinx {
    width: 1.5em;
}

.edition > summary {
    font-size: 1em;
    margin: 0.5em 0;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        transparent,
        transparent calc(50% - 0.05em),
        currentColor calc(50% - 0.05em),
        transparent calc(50% + 0.05em)
    );
    text-align: right;
    list-style: none;

    > h2 {
        font-size: inherit;
    }
}

.edition__heading-text {
    border: 0.1em solid currentColor;
    border-radius: 0.6em;
    line-height: 1.2;
    padding-left: 0.4em;
    padding-right: 0.4em;
    background-color: #fffef0;
    margin-right: 1em;
    font-family: Metamorphous;
    font-weight: normal;
    letter-spacing: 0.05em;
    box-shadow: inset 0 0 0.5em #8a4d0f;

    &::before {
        content: "▸";
        margin-right: 0.5em;
    }

    @at-root {
        [open] &::before {
            content: "▾";
        }
    }
}

.edition__button {
    display: block;
}

.edition__name {
    grid-area: name;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}
