.edition-details {
    border: 1px solid #000;

    & + & {
        border-top: none;
    }

    &:not(:has(~ &)) {
        margin-bottom: 1em;
    }
}

.edition-details__summary {
    font-family: var(--serif-font);
    color: #fff;
    text-shadow: 0.1em 0.1em 0.1em rgb(0 0 0 / 80%);
    cursor: pointer;
    padding: 0.2em 1em; 
    background-image: url("../../img/background-img3.webp");
}

.edition-details__body {
    padding: 1em;

    a {
        color: inherit;
    }
}

.edition-details__entries {
    max-height: 30vh;
    overflow: auto;
    padding: 0.5em;
    background-color: rgb(0 0 0 / 0.25);
}

.edition-details__radio {
    align-items: start;
}

.edition-details__name,
.edition-details__author {
    display: block;
}

