.info-token {
    width: min(80%, 40rem);
    text-align: center;

    > .dialog__content {
        border-width: 0.5em;
        border-color: var(--colour, #000);
    }
}

.info-token__text {
    font-size: clamp(1rem, 10vw, 3rem);
    margin: 0;

    > strong {
        font-family: var(--serif-font);
        font-size: 1.1em;
        font-variant: small-caps;
        letter-spacing: 0.1em;
        display: inline-block;
        color: var(--colour, currentColor);
        filter: brightness(0.6);
    }
}
