.night-order {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.night-order__item {
    padding: 0.5em 0;
}

.night-order__item + .night-order__item {
    border-top: 1px solid rgb(255 255 255 / 60%);
}

.night-order__heading {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
}

.night-order__icon {
    width: 2em;
}

.night-order__role {
    margin: 0;
    font-family: var(--serif-font);
    flex-grow: 1;
}

.night-order__ability {
    font-size: 0.8em;
    margin: 0;
}
