.reminder-list__item {
    display: none;

    &.is-global,
    &.is-in-play {
        display: block;
    }

    @at-root {
        .is-show-all > #{&} {
            display: block;
        }
    }
}

.reminder-list__checkbox:checked + .reminder-list__button {
    position: relative;

    &::before {
        content: "✓";
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        font-size: 4em;
        color: #fff;
        text-shadow: 0 0 0.25em #000;
    }

    > .reminder {
        transform: scale(0.9);
        transform-origin: center;
    }

}
