.settable-title__title {
    font-family: inherit;
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-shadow: inherit;

    &[aria-hidden="true"] {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
}

.settable-title__input {
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline;
    font-family: inherit;
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-shadow: inherit;
    width: calc((var(--width, 100) * 1px) + 1.34em);
}