@keyframes orphan {
    0% {
        opacity: 1;
        box-shadow: 0 0 15px var(--evil-team);
    }
    100% {
        opacity: 0.8;
        box-shadow: 0 0 0 transparent;
    }
}

.token {
    width: 60px;
    aspect-ratio: 1 / 1;
    border: none;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    transform-origin: 0 0;

    &[data-token="character"] {
        width: clamp(70px, 100vw / 6, 150px);
        transform: scale(var(--token-size, 1));
    }

    &[data-token="reminder"] {
        width: clamp(55px, 100vw / 9, 125px);
        transform: scale(var(--reminder-size, 1));
    }

    // &[aria-disabled="true"],
    &[disabled] {
        opacity: 0.7;

        > .character {
            --shadow-amount: 0;
        }
    }

    &.is-orphan {
        box-shadow: 0 0 15px red;

        @media (prefers-reduced-motion: no-preference) {
            animation: orphan 1s infinite alternate;
        }

    }
}

// Colorization of tokens based on rotated state.
.colorize .token .character {
    // Filter values for converting from one team color to the other.
    --blue-to-red: hue-rotate(162deg) brightness(0.7) saturate(1.7);
    --red-to-blue: hue-rotate(237deg) brightness(1.8);

    // Travellers render two images for colorization.
    // One we'll use for the left half, and one for the right half.
    &:is([data-team=traveller i]) .character__icon {
        &:first-of-type {
            clip-path: inset(0 50% 0 0);
        }
        &:last-of-type {
            clip-path: inset(0 0 0 50%);
        }
    }

    &:not(.is-upside-down) {
        // Colorize traveller tokens as fully blue if un-rotated (second image).
        &:is([data-team=traveller i]) .character__icon:last-of-type {
            filter: var(--red-to-blue);
        }
    }
    &.is-upside-down {
        // Colorize rotated townsfolk and outsiders as red.
        &:is([data-team=townsfolk i], [data-team=outsider i]) .character__icon {
            filter: var(--blue-to-red);
        }

        // Colorize rotated demons and minions as blue.
        &:is([data-team=demon i], [data-team=minion i]) .character__icon {
            filter: var(--red-to-blue);
        }

        // Colorize traveller tokens as fully red if rotated (first image).
        &:is([data-team=traveller i]) .character__icon:first-of-type {
            filter: var(--blue-to-red);
        }
    }
}

.token--movable {
    --left: 0;
    --top: 0;
    --z-index: 0;
    cursor: move;
    position: absolute;
    left: calc(var(--left) * 1px);
    top: calc(var(--top) * 1px);
    z-index: var(--z-index);
    touch-action: none;
}

.token--bluff[data-token] {
    transform: none;
}
