{% set attributes = [] %}
{% set classes = ['dialog'] %}
{% if class|default('') != '' %}
    {% set classes = classes|merge([class]) %}
{% endif %}
{% set bg = background|default('') %}
{% if bg == 'blur' %}
    {% set classes = classes|merge(['dialog--blur-background']) %}
{% elseif bg == 'hide' %}
    {% set classes = classes|merge(['dialog--hide-background']) %}
{% endif %}

{% set attributes = attributes|merge(['class="' ~ classes|join(' ') ~ '"']) %}
{% if id|default('') != '' %}
    {% set attributes = attributes|merge(['id="' ~ id ~ '"']) %}
{% endif %}
{% if style|default('') != '' %}
    {% set styleString = '' %}
    {% for rule, property in style %}
        {% set styleString = styleString ~ rule ~ ': ' ~ property ~ ';' %}
    {% endfor %}
    {% set attributes = attributes|merge(['style="' ~ styleString ~ '"']) %}
{% endif %}

{% set hide = [] %}
{% if hideClickBackground|default(true) %}
    {# % set attributes = attributes|merge(['data-dialog-hide-on-click-backdrop']) % #}
    {% set hide = hide|merge(['backdrop']) %}
{% endif %}
{% if hideClick|default(false) %}
    {# % set attributes = attributes|merge(['data-dialog-hide-on-click']) % #}
    {% set hide = hide|merge(['click']) %}
{% endif %}
{% set attributes = attributes|merge(['data-dialog-hide-on="' ~ hide|join(' ') ~ '"']) %}

<dialog {{ attributes|join(' ') }}>
    <div class="dialog__content">
        {% if includeHeader|default(true) %}
        <div class="dialog__header">
            <h2 class="dialog__title">{% block title %}{{ title|default('') }}{% endblock %}</h2>
            <div class="dialog__hide-wrapper">
                <button class="dialog__hide" type="button" aria-label="Close" data-dialog-hide>
                    &times;
                    {#
                    <!-- https://fontawesome.com/v5.15/icons/times?style=solid -->
                    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" class=""></path></svg>
                    #}
                </button>
            </div>
        </div>
        {% endif %}
        <div class="dialog__body">{% block body %}{% endblock %}</div>
    </div>
</dialog>
