<!doctype html>
<html lang="en">
<head>

{% block dns_prefetch %}{% endblock %}

{#
We set a global variable `whole_title` to be the contents of the `whole_title`
block. This allows some of the meta includes to reference the contents while
also allowing developers to create a unique title if they need to.
#}
<title>{% set whole_title -%}
    {% block whole_title %}{% block title %}{% endblock %} - Pocket Grimoire{% endblock %}
{% endset -%}{{ whole_title }}</title>
{% block meta -%}
    {%- include './includes/meta/tags.twig' -%}
{%- endblock %}

<!-- <link rel="icon" type="image/svg+xml" href="./assets/img/logo.svg"> -->
{% block styles %}{% endblock %}

</head>
<body class="{{ body_class|default('') }}">

{% import "./macros/forms.twig" as forms %}
<main role="main" id="main">{% block body %}{% endblock %}</main>

{% block javascript %}{% endblock %}
<script>
// This needs to be written in ES5 so that the HTML minifier can minify it.
(function (isDialogSupported, doc, link, script) {

    if (isDialogSupported) {
        return;
    }

    link = doc.createElement("link");
    link.rel = "stylesheet";
    link.href = "./assets/css/dialog.css";
    doc.head.append(link);

    script = doc.createElement("script");
    script.src = "./assets/js/dialog.js";
    doc.body.append(script);

}("showModal" in document.createElement("dialog"), document));
</script>

</body>
</html>
